<div class="autocomplete">
  <Form class="autocomplete__form" >
    <span class="input-group-text"><img src="../../assets/search.svg" /></span>
    <Field
      type="search"
      name="query"
      class="form-control"
      placeholder="Search location"
      autocomplete="off"
      v-model="query"
      :rules="validateQuery"
      :validateOnChange="true"
      :validateOnBlur="true"
      @focus="handleFocus()"
      @blur="handleBlur()"
    />
    <div v-if="showOptions" class="autocomplete__options">
      <option
        v-for="location in locations"
        class="autocomplete__options-items"
        :key="location.key"
        :class="{'btn-primary': selectedOption.key === location.key}"
        @mousedown="handleSelect(location)"
      >
        {{ location.localizedName }}
      </option>
    </div>
    <ErrorMessage name="query" class="invalid-feedback autocomplete__error"/>
  </Form>
</div>
