<nav class="navbar navbar-light px-2 toolbar" style="background-color: #f1f4f7;">
  <span class="navbar-brand mb-0 h1 app__toolbar-title">
    <span>Herolo Weather Task</span>
    <span class="toolbar__links">
      <a href="https://github.com/asaf11108/asaf-regev-21-03-2021">GitHub</a>
    </span>
  </span>

  <span class="toolbar__actions">
    <ToolbarActions />
  </span>

  <div class="dropdown toolbar__actions--mobile">
    <button class="navbar-toggler" type="button" data-bs-toggle="dropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <ToolbarActions />
    </div>
  </div>
</nav>